USE [master]
GO
/****** Object:  Database [deansOffice]    Script Date: 15.06.2025 16:06:20 ******/
CREATE DATABASE [deansOffice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'deansOffice', FILENAME = N'E:\HomeWork\BDwithHead\deansOffice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'deansOffice_log', FILENAME = N'E:\HomeWork\BDwithHead\deansOffice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [deansOffice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [deansOffice]
GO
/****** Object:  Table [dbo].[AcademicGroup]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicGroup](
	[AcademicGroupId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NULL,
	[faculty] [nvarchar](250) NULL,
	[pulpit] [nvarchar](250) NULL,
	[speciality] [nvarchar](250) NULL,
	[year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AcademicGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discipline]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[DisciplineId] [int] IDENTITY(1,1) NOT NULL,
	[teacherId] [int] NULL,
	[name] [nvarchar](300) NULL,
	[knowledge_assessment_form] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisciplineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamLog]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamLog](
	[ExamLogId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[DisciplineId] [int] NULL,
	[date] [nvarchar](100) NULL,
	[assessment_of_knowledge] [nvarchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeBook]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeBook](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[DisciplineId] [int] NULL,
	[TeacherId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Mark] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stipend]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stipend](
	[StipendId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[amount_payable] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StipendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[AcademicGroupId] [int] NULL,
	[last_name] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
	[middle_name] [nvarchar](50) NULL,
	[residential_address] [nvarchar](300) NULL,
	[stipendId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 15.06.2025 16:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
	[middle_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discipline]  WITH CHECK ADD FOREIGN KEY([teacherId])
REFERENCES [dbo].[Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[ExamLog]  WITH CHECK ADD FOREIGN KEY([DisciplineId])
REFERENCES [dbo].[Discipline] ([DisciplineId])
GO
ALTER TABLE [dbo].[ExamLog]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[GradeBook]  WITH CHECK ADD FOREIGN KEY([DisciplineId])
REFERENCES [dbo].[Discipline] ([DisciplineId])
GO
ALTER TABLE [dbo].[GradeBook]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[GradeBook]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([AcademicGroupId])
REFERENCES [dbo].[AcademicGroup] ([AcademicGroupId])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([stipendId])
REFERENCES [dbo].[Stipend] ([StipendId])
GO
ALTER TABLE [dbo].[Discipline]  WITH CHECK ADD CHECK  (([knowledge_assessment_form]=N'Зачёт' OR [knowledge_assessment_form]=N'Экзамен'))
GO
USE [master]
GO
